
#canvas 
{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    border: solid rgb(400,400,300) 4px;
    margin:auto;
    background-color: darkolivegreen;
}

body
{
    background-color:rgb(78, 109, 112);
}

